@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

ul {
    height: 77vh;
    font-size: large;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li button {
    width: 300px;
    height: 100px;
    margin: 2.5%;
    font-size: 18pt;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(134, 29, 134, 0.322);
    color: white;
}

ul li :hover {
    background-color: rgba(134, 29, 134, 0.514);
    cursor: pointer;
}