#background {
    // display: block;
    width: 100%;
    height: 100%;
    opacity: 60%;
    position: absolute;
    z-index: -1000;
}
#popUpImgContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -500;
    // background-color: black;
    // opacity: 30%;
}
#fightImg {
    height: 45%;
}
#drawImg {
    height: 45%;
}
#fatalityImg {
    height: 100%;
}
nav {
    margin: 5px 15px;

    display: flex;
    justify-content: space-between;
}
.right {
    display: flex;
    // justify-self: right; //WHAT???
    flex-direction: row-reverse;
    margin-left: auto;
}

.username {
    font-size: 25px;
    color: black;
   letter-spacing: .03em;
}
.healthBar {
    display: flex;
    flex-direction: row;
}
.healthCell {
    height: 10px;
    width: 80px;
    margin: 0 2px;
    border: thin solid black;
    background-color:green;
}

#wrapper {
    // border: thin solid red;
    height: 80%;
}
#inputAreaContainer {
    // position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%; 
}
.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid black;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.543);
}
.inputArea button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vw;
    border-radius: 10px;
    font-family: inherit;
    font-size: 5vw;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 15px;
    background-color: white;
}
.inputArea button:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.inputArea button:active {
    transform: scale(1.1);
}
.inputArea div {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
}
.inputArea .waitingRing {
    height: 30%;
}

#back {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 15px;
    border: solid 1px black;
    font-family: inherit;
    font-size: 20px;
    padding: 0 10px;
    text-align: center;
    margin-right: 12px;
    margin-left: 5px;
    background-color: white;
}

#back:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#back:active {
    transform: scale(1.1);
}

.options {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 5px;
}