<table>
  <tr>
    <th>Profile</th>
    <th> Players </th>
    <th> # of Games Played </th>
    <th> Winning % </th>
  </tr>
  <tr>
    <td>
      <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=620&quality=85&auto=format&fit=max&s=21718fb1379918410ea10054db89f665https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-cat-wearing-sunglasses-while-sitting-royalty-free-image-1571755145.jpg" width="50" height="50">
    </td>
    <td>Bryce</td>
    <td>12</td>
    <td>90%</td>
  </tr>
  <tr>
    <td>
      <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=620&quality=85&auto=format&fit=max&s=21718fb1379918410ea10054db89f665https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-cat-wearing-sunglasses-while-sitting-royalty-free-image-1571755145.jpg" width="50" height="50">
    </td>
    <td>Chazz</td>
    <td>24</td>
    <td>90%</td>
  </tr>
  <tr>
    <td>
      <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=620&quality=85&auto=format&fit=max&s=21718fb1379918410ea10054db89f665https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-cat-wearing-sunglasses-while-sitting-royalty-free-image-1571755145.jpg" width="50" height="50">
    </td>
    <td>Gichelle</td>
    <td>20</td>
    <td>90%</td>
  </tr>
</table>
