#background {
    // display: block;
    width: 100%;
    height: 100%;
    opacity: 60%;
    position: absolute;
    z-index: -1000;
}
#fightImgContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -500;
    // background-color: black;
    // opacity: 30%;
}
#fightImg {
    height: 45%;
    // z-index: 100;
}
nav {
    margin: 5px 15px;

    display: flex;
    justify-content: space-between;
}
.right {
    display: flex;
    // justify-self: right; //WHAT???
    flex-direction: row-reverse;
    margin-left: auto;
}

.username {
    font-size: 25px;
    font-family:monospace;
}
.healthBar {
    display: flex;
    flex-direction: row;
}
.healthCell {
    height: 10px;
    width: 80px;
    margin: 0 2px;
    border: thin solid black;
    background-color:green;
}

#wrapper {
    // border: thin solid red;
    height: 80%;
}
#inputAreaContainer {
    // position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%; 
}
.inputArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid black;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.543);
}
.inputArea button {
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
}
.inputArea div {
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
}
.inputArea .waitingRing {
    height: 30%;
}
