<nav>
<div id="pLeft">
    <div id="pLeftInfo">
        <img src="" alt="">
        <span class="username">{{pLeft.username}}</span>
    </div>
    <div class="healthBar left">
        <ng-container *ngFor="let i of [].constructor(pRight.health)">
            <div class="healthCell"[ngStyle]="{'backgroud-color': healthBarColor(pRight.health)}"></div>
        </ng-container>
    </div>
</div>

<div id="pRight" class="">
    <div id="pRightInfo" class="right">
        <img src="" alt="">
        <span class="username">{{pRight.username}}</span>
    </div>
    <div class="healthBar right">
        <ng-container *ngFor="let i of [].constructor(pRight.health)">
            <div class="healthCell"[ngStyle]="{'backgroud-color': healthBarColor(pLeft.health)}"></div>
        </ng-container>
    </div>
</div>
</nav>

<div id="fightImgContainer">
    <img [@inOut]="fightImgShowing ? 'in' : 'out'" id="fightImg" src="assets/images/178-1784143_photo-street-fighter-fight-png.png" alt="">
</div>
<img id="background" src="assets/images/{{backgroundString}}" alt="image">



