<div class="online-match-container">
  <div>
    <h1>Online Mode</h1>
  </div>
  <div class="online-match-modes">
    <button>Random Match</button>
    <div class="find-match-container">
      <div class="find-match-button">
        <button (click)="socketRequestFindMatch()">Find Match</button>
      </div>
      <div class="input-container">
        <input [(ngModel)]="gamePin" type="text" placeholder="PIN">
      </div>
    </div>
    <button (click)="socketRequestCreateMatch()">Create Match</button>
  </div>
  <div>
    <button id="back" (click)="back()">back</button>
  </div>
</div>
