#background {
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

#container {
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.input {
    margin: -7px;
    height: 35px;
    width: 200px;
    padding: 3.5px;
    border: solid 1px rgb(185, 185, 185);
    border-radius: 10px;
}

button {
    border-radius: 10px;
    height: 35px;
    width: 200px;
    font-size: 18px;
}

span {
    text-align: center;
}