<ng-container >
<nav>
    <ul>
        <li><a routerLinkActive="active-link" routerLink="./play">Play</a></li>
        <li><a routerLinkActive="active-link" routerLink="./leaderboard">Leaderboard</a></li>
        <ng-container *ngIf="!(loggedIn$ | async)">
            <li><a routerLinkActive="active-link" routerLink="./sign-in">Sign in</a></li>
        </ng-container>
        <ng-container *ngIf="(loggedIn$ | async)">
            <li class="goRight"><a routerLinkActive="active-link" routerLink="./profile">Profile</a></li>
        </ng-container>
    </ul>
</nav>
</ng-container>

<router-outlet></router-outlet>

<!-- [routerLinkActiveOptions]="{exact: true}" -->