<nav>
    <ul>
        <li routerLinkActive="active-link"><a routerLink="./play">Play</a></li>
        <li routerLinkActive="active-link"><a routerLink="./leaderboard">Leaderboard</a></li>
        <!-- <ng-template *ngIf="(loggedIn$ | async)"> -->
            <li routerLinkActive="active-link"><a routerLink="./sign-in">Sign in</a></li>
        <!-- </ng-template> -->
    </ul>
</nav>

{{(loggedIn$ | async)|json}}

<router-outlet></router-outlet>

<!-- [routerLinkActiveOptions]="{exact: true}" -->