.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    height: 91vh;
}

.menu-container button {
    font-size: 50px;
    background-color: blue;
    border: none;
    text-align: center;
}