.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(0, 0, 126), rgb(0, 102, 255), rgb(0, 0, 126));
    height: 91vh;
}

.menu-container button {
    background-image: linear-gradient(180deg, #ffffff 55%, #4245ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Bebas Neue', cursive;
    filter: drop-shadow(3px 3px black);
    font-size: 47px;
    border: none;
}