.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(0, 0, 126), rgb(0, 102, 255), rgb(0, 0, 126));
    height: 91vh;
}

.menu-container button {
    font-size: 50px;
    background-color: blue;
    border: none;
    text-align: center;
    color: white;
}