.tournament-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 97.2vh;
  background: linear-gradient(180deg, rgb(0, 0, 126), rgb(0, 102, 255), rgb(0, 0, 126));
}

.tournament-modes {
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(238, 255, 0);
  font-size: 130px;
  margin-bottom: 30px;
}

.tournament-container button {
  background-image: linear-gradient(180deg, #ffffff 55%, #9e9fff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Bebas Neue', cursive;
  filter: drop-shadow(3px 3px black);
  font-size: 80px;
  height: 100px;
  border: transparent;
  cursor: pointer;
  margin: 10px;
}

.tournament-container button:hover {
  background-image: linear-gradient(180deg, #ffffff 5%, #fdad00);
  font-size: 90px;
}

input {
  height: 60px;
  font-size: 40px;
  width: 250px;
  text-align: center;
}
