#background {
    height: 70vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

input[type=text] {
    height: 35px;
    width: 200px;
    padding: 3.5px;
    border: solid 1px rgb(185, 185, 185);
    border-radius: 10px;
}

input[type=file] {
    text-align-last: center;
}

span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

span p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 5px;
}

button {
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 200px;
    font-size: 22px;
    margin-top: 30px;
    color: white;
    background-color: rgb(0, 60, 255);
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 89, 255);
}