<div id="background">
    <div [formGroup] = 'createUserForm' id="container" >
        <input type="text" formControlName='username' placeholder="Username">
        <input type="text" formControlName='password' placeholder="Password">
        <input type="text" formControlName='confirmPassword' placeholder="Confirm Password">
        <span><p>Upload Profile Picture</p><input type="file" (change)='makeFileReady($event)'></span>
        <button (click)='signUp()'>Sign Up</button>
        <button id="back" (click)="back()">Back</button>
    </div>
</div>